<!DOCTYPE html>
<html>
    <head>
        <title>ZChat</title>
        <link href="static/css/main.css" rel="stylesheet" type="text/css" media="all">
        <script src="/static/js/libs/axios.min.js"></script>
        <script src="/static/js/libs/jquery.min.js"></script>
        <script src="/static/js/libs/js.cookie.min.js"></script>
    </head>
    <body>
        {% block content %} {% endblock %}
    </body>
</html>